<p id="notice"><%= notice %></p>

<h1>Expenses</h1>

<div class="container-fluid">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <div >
          <th>Description</th>
        </div>
        <div >
          <th>Amount</th>
        </div>
        <div >
          <th>Date</th>
        </div>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @expenses.each do |expense| %>
        <tr>
          <div >
            <td><%= expense.description %></td>
          </div>
          <div >
            <td> <% if (expense.amount % expense.amount == 0) %>
                    £ <%= expense.amount.to_i %>
                  <% else %>
                    £ <%= expense.amount %>
                  <%end%>
            </td>
          </div>
          <div >
            <td><%= expense.date.strftime("%e %b %Y") %></td>
          </div>
          <td><%= link_to 'Edit', edit_expense_path(expense) %></td>
          <td><%= link_to 'Delete', expense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>

<%= link_to 'New Expense', new_expense_path %>
